<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/med/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('bundles/med/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('bundles/med/vendors/nprogress/nprogress.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('bundles/med/build/css/custom.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        {% include '@Med/component/sidebar.html.twig' %}
        {% include '@Med/component/header.html.twig' %}


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                {% block body %}{% endblock %}



            </div>
        </div>


    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('bundles/med/vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('bundles/med/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bundles/med/vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('bundles/med/vendors/nprogress/nprogress.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('bundles/med/build/js/custom.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
