{% extends '@Transport/layout.html.twig' %}

{% block  body %}

    <!-- _________________________ Start Middle _________________________ -->
    <div id="middle">
        <style type="text/css">.headline_outer {
                background-image:url{{ asset('bundles/etablissement/wp-content/uploads/2015/12/header.jpg') }};
                background-repeat:no-repeat;
                background-attachment:scroll;
                background-size:cover;
            }.headline_color {
                 background-color:;
             }
            .headline_aligner,
            .cmsmasters_breadcrumbs_aligner {
                min-height:250px;
            }
        </style>
        <div class="headline cmsmasters_color_scheme_first">
            <div class="headline_outer">
                <div class="headline_color"></div><div class="headline_inner align_center">
                    <div class="headline_aligner"></div><div class="headline_text"><h1 class="entry-title">Contact forms</h1></div></div></div>
        </div><div class="middle_inner"><div class="content_wrap fullwidth">

                <!--_________________________ Start Content _________________________ -->
                <div class="middle_content entry" role="main"></div></div><style type="text/css">
                #cmsmasters_row_5abc247dae750 .cmsmasters_row_outer_parent {
                    padding-top: 60px;
                }


                #cmsmasters_heading_5abc247dae8f3 {
                    text-align:left;
                    margin-top:0px;
                    margin-bottom:30px;
                }

                #cmsmasters_heading_5abc247dae8f3 .cmsmasters_heading {
                    text-align:left;
                }

                #cmsmasters_heading_5abc247dae8f3 .cmsmasters_heading, #cmsmasters_heading_5abc247dae8f3 .cmsmasters_heading a {
                    font-weight:300;
                    font-style:normal;
                }

                #cmsmasters_heading_5abc247dae8f3 .cmsmasters_heading_divider {
                }


                #cmsmasters_row_5abc247daea57 .cmsmasters_row_outer_parent {
                    padding-top: 0px;
                }


                #cmsmasters_divider_5abc247daeb3a {
                    border-bottom-width:1px;
                    border-bottom-style:solid;
                    padding-top:50px;
                    margin-bottom:50px;
                }

                #cmsmasters_row_5abc247daeb8a .cmsmasters_row_outer_parent {
                    padding-top: 0px;
                }

                #cmsmasters_row_5abc247daeb8a .cmsmasters_row_outer_parent {
                    padding-bottom: 70px;
                }


                #cmsmasters_heading_5abc247daeced {
                    text-align:left;
                    margin-top:0px;
                    margin-bottom:40px;
                }

                #cmsmasters_heading_5abc247daeced .cmsmasters_heading {
                    text-align:left;
                }

                #cmsmasters_heading_5abc247daeced .cmsmasters_heading, #cmsmasters_heading_5abc247daeced .cmsmasters_heading a {
                    font-weight:300;
                    font-style:normal;
                }

                #cmsmasters_heading_5abc247daeced .cmsmasters_heading_divider {
                }


                #cmsmasters_heading_5abc247daf3ec {
                    text-align:left;
                    margin-top:0px;
                    margin-bottom:40px;
                }

                #cmsmasters_heading_5abc247daf3ec .cmsmasters_heading {
                    text-align:left;
                }

                #cmsmasters_heading_5abc247daf3ec .cmsmasters_heading, #cmsmasters_heading_5abc247daf3ec .cmsmasters_heading a {
                    font-weight:300;
                    font-style:normal;
                }

                #cmsmasters_heading_5abc247daf3ec .cmsmasters_heading_divider {
                }

            </style>
            <div id="cmsmasters_row_5abc247daea57" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
                <div class="cmsmasters_row_outer_parent">
                    <div class="cmsmasters_row_outer">
                        <div class="cmsmasters_row_inner">
                            <div class="cmsmasters_row_margin">
                                <div class="cmsmasters_column one_first">

                                    <div id="cmsmasters_divider_5abc247daeb3a" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cmsmasters_row_5abc247daeb8a" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
                <div class="cmsmasters_row_outer_parent">
                    <div class="cmsmasters_row_outer">
                        <div class="cmsmasters_row_inner">
                            <div class="cmsmasters_row_margin">
                                <div class="cmsmasters_column one_half">

                                    <div class="cmsmasters_contact_form"><div class="cmsmasters-form-builder">
                                            <div class="cmsmasters_notice cmsmasters_notice_success cmsmasters_theme_icon_check success_box" style="display:none;">
                                                <div class="notice_icon"></div>
                                                <div class="notice_content">
                                                    <p>Thank You! <br />Your message has been sent successfully.</p>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                jQuery(document).ready(function () {
                                                    jQuery('#form_2836').validationEngine('attach', {
                                                        promptPosition : 'topRight',
                                                        scroll : false,
                                                        autoPositionUpdate : true,
                                                        showArrow : false
                                                    } );
                                                    jQuery('#form_2836 a#cmsmasters_2836_formsend').click(function () {
                                                        jQuery('#form_2836 .loading').animate( { opacity : 1 } , 250);
                                                        var var_my_child_has_participated_in_t = '';
                                                        jQuery('input[name=\'cmsmasters_my_child_has_participated_in_t\']:checked').each(function () {
                                                            var_my_child_has_participated_in_t += jQuery(this).val() + ', ';
                                                        } );
                                                        if (var_my_child_has_participated_in_t !== '') {
                                                            var_my_child_has_participated_in_t = var_my_child_has_participated_in_t.slice(0, -2);
                                                        }
                                                        if (jQuery('#form_2836').validationEngine('validate')) {
                                                            jQuery.post('../wp-content/plugins/cmsmasters-contact-form-builder/inc/form-builder-sendmail.html', {
                                                                cmsmasters_name_2 : jQuery('#cmsmasters_name_2').val(),
                                                                cmsmasters_email_2 : jQuery('#cmsmasters_email_2').val(),
                                                                cmsmasters_phone_2 : jQuery('#cmsmasters_phone_2').val(),
                                                                cmsmasters_age_group : jQuery('input[name=\'cmsmasters_age_group\']:checked').val(),
                                                                cmsmasters_gender : jQuery('#cmsmasters_gender').val(),
                                                                cmsmasters_my_child_has_participated_in_t : var_my_child_has_participated_in_t,
                                                                contactemail : 'MjgzNnxleGFtcGxlQGdtYWlsLmNvbXwyODM2',
                                                                formname : '2836'
                                                            }, function (data) {
                                                                jQuery('#form_2836 .loading').animate( { opacity : 0 } , 250);
                                                                jQuery('#form_2836').fadeOut('slow');
                                                                document.getElementById('form_2836').reset();
                                                                jQuery('#form_2836').parent().find('.box').hide();
                                                                jQuery('#form_2836').parent().find('.success_box').fadeIn('fast');
                                                                jQuery('html, body').animate( { scrollTop : jQuery('#form_2836').offset().top - 140 } , 'slow');
                                                                jQuery('#form_2836').parent().find('.success_box').delay(5000).fadeOut(1000, function () {
                                                                    jQuery('#form_2836').fadeIn('slow');
                                                                } );
                                                            } );
                                                            return false;
                                                        } else {
                                                            jQuery('#form_2836 .loading').animate( { opacity : 0 } , 250);
                                                            return false;
                                                        }
                                                    } );
                                                } );
                                            </script>
                                            {{ form_start(form) }}
                                            <div class="form_info cmsmasters_input one_first">
                                                <label for="cmsmasters_name_2">{{ form_label(form.nom) }} <span class="color_2">*</span></label>
                                                <div class="form_field_wrap">
                                                    {{ form_widget(form.nom) }}
                                                </div>
                                            </div>

                                                <div class="form_info cmsmasters_select">
                                                    <label> {{ form_label(form.type) }}</label>
                                                    <div class="form_field_wrap">
                                                        {{ form_widget(form.type) }}

                                                    </div>
                                                    <div class="cl"></div>
                                                </div>
                                            <div class="form_info cmsmasters_select">
                                                <label> {{ form_label(form.region) }}</label>
                                                <div class="form_field_wrap">
                                                    {{ form_widget(form.region) }}

                                                </div>
                                                <div class="cl"></div>
                                            </div>

                                            <div class="form_info cmsmasters_input one_first">
                                                <label for="cmsmasters_name_2"> <span class="color_2">*</span></label>
                                                <div class="form_field_wrap">
                                                    <select name="villeselect" id="villeselect"></select>
                                                </div>
                                            </div>

                                            <div class="form_info cmsmasters_input one_first">
                                                <label for="cmsmasters_name_2">{{ form_label(form.description) }} <span class="color_2"></span></label>
                                                <div class="form_field_wrap">
                                                     {{ form_widget(form.description) }}
                                                </div>
                                            </div>

                                            <div class="form_info cmsmasters_input one_first">

                                                <div class="form_field_wrap">
                                                    {{ form_widget(form.image) }}
                                                </div>
                                            </div>




                                                <div class="cl"></div>
                                                <div class="loading"></div>

                                            <input type="submit" value="Ajouter" />

                                            {{ form_end(form) }}



                                                    <a href="{{ path('etablissement_index') }}">Liste des établissements</a>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cl"></div><div class="content_wrap fullwidth">

                <div class="middle_content entry" role="main">
                </div>
                <!-- _________________________ Finish Content _________________________ -->



            </div>
        </div>
    </div>

    <!-- _________________________ Finish Middle _________________________ -->
    <a href="javascript:void(0);" id="slide_top" class="cmsmasters_theme_icon_slide_top"></a>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var $region = jQuery('#etablissementbundle_etablissement_region');
        $region.change(function() {

            var $id = $region.val();
            // Submit data via AJAX to the form's action path.
            console.log($id);
            jQuery.ajax({
                url: "{{ path('etablissement_info')|escape('js') }}",
                type: 'POST',
                data : { id : $id} ,
                dataType: 'json',

                success: function(reponse) {
                    console.log(reponse);
                    if(reponse === "null"){
                        jQuery('#villeselect').empty();
                        jQuery('#villeselect').attr('disabled','disabled');

                    }else{
                        jQuery('#villeselect').empty();
                        jQuery('#villeselect').append('<option value="" selected> Séléctionner ville </option>');
                        jQuery.each(reponse, function (index, element) {
                            jQuery('#villeselect').append('<option value="' + element.idVille + '"> ' + element.nomVille + ' </option>');
                        });}
                },
                error:function () {
                    console.log('nothing');

                }

            });
        });
    </script>

{% endblock %}
