{% extends '@Transport/layout.html.twig' %}

{% block body %}

    <div class="middle_inner">

        <div class="content_wrap fullwidth">
            <!--_________________________ Start Content _________________________ -->
            <div class="middle_content entry" role="main">
            </div></div><style type="text/css">
            #cmsmasters_row_5aa7fb4893673 .cmsmasters_row_outer_parent {
                padding-top: 80px;
            }

            #cmsmasters_row_5aa7fb4893673 .cmsmasters_row_outer_parent {
                padding-bottom: 70px;
            }


            #cmsmasters_pricing_item_5aa7fb48938f6 .cmsmasters_pricing_item_cont_inner {
                background-color:#007097;
            }
            #cmsmasters_pricing_item_5aa7fb48938f6 .cmsmasters_button:before {
                margin-right:.5em;
                margin-left:0;
                vertical-align:baseline;
            }

            #cmsmasters_pricing_item_5aa7fb48938f6 .cmsmasters_button {
                font-weight:normal;
                font-style:normal;
                border-style:solid;
            }
            #cmsmasters_pricing_item_5aa7fb48938f6 .cmsmasters_button:hover {
                background-color:#007097;
                color:#ffffff;
            }
            #cmsmasters_pricing_item_5aa7fb4893a55 .cmsmasters_pricing_item_cont_inner {
                background-color:#f6c127;
            }
            #cmsmasters_pricing_item_5aa7fb4893a55 .cmsmasters_button:before {
                margin-right:.5em;
                margin-left:0;
                vertical-align:baseline;
            }

            #cmsmasters_pricing_item_5aa7fb4893a55 .cmsmasters_button {
                font-weight:normal;
                font-style:normal;
                border-style:solid;
            }
            #cmsmasters_pricing_item_5aa7fb4893a55 .cmsmasters_button:hover {
                background-color:#f6c127;
                color:#ffffff;
            }
            #cmsmasters_pricing_item_5aa7fb4893b8a .cmsmasters_pricing_item_cont_inner {
                background-color:#01a491;
            }
            #cmsmasters_pricing_item_5aa7fb4893b8a .cmsmasters_button:before {
                margin-right:.5em;
                margin-left:0;
                vertical-align:baseline;
            }

            #cmsmasters_pricing_item_5aa7fb4893b8a .cmsmasters_button {
                font-weight:normal;
                font-style:normal;
                border-style:solid;
            }
            #cmsmasters_pricing_item_5aa7fb4893b8a .cmsmasters_button:hover {
                background-color:#01a491;
                color:#ffffff;
            }
            #cmsmasters_pricing_item_5aa7fb4893cbd .cmsmasters_pricing_item_cont_inner {
                background-color:#f96c7e;
            }
            #cmsmasters_pricing_item_5aa7fb4893cbd .cmsmasters_button:before {
                margin-right:.5em;
                margin-left:0;
                vertical-align:baseline;
            }

            #cmsmasters_pricing_item_5aa7fb4893cbd .cmsmasters_button {
                font-weight:normal;
                font-style:normal;
                border-style:solid;
            }
            #cmsmasters_pricing_item_5aa7fb4893cbd .cmsmasters_button:hover {
                background-color:#f96c7e;
                color:#ffffff;
            }
            <!-- ______________ resherche slide style ____________________-->

                 #cmsmasters_row_5aa7fb53e54fc .cmsmasters_row_outer_parent {
                     padding-top: 70px;
                 }

            #cmsmasters_row_5aa7fb53e54fc .cmsmasters_row_outer_parent {
                padding-bottom: 70px;
            }


            #cmsmasters_heading_5aa7fb53e56ae {
                text-align:left;
                margin-top:0px;
                margin-bottom:50px;
            }

            #cmsmasters_heading_5aa7fb53e56ae .cmsmasters_heading {
                text-align:left;
            }

            #cmsmasters_heading_5aa7fb53e56ae .cmsmasters_heading, #cmsmasters_heading_5aa7fb53e56ae .cmsmasters_heading a {
                font-weight:300;
                font-style:normal;
            }

            #cmsmasters_heading_5aa7fb53e56ae .cmsmasters_heading_divider {
            }


            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e58e9 .cmsmasters_toggle_title:hover .cmsmasters_toggle_plus,
            .toggles_mode_toggle #cmsmasters_toggle_5aa7fb53e58e9 {
                background-color:#f6c127;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e58e9 .cmsmasters_toggle_title a:hover {
                color:#f6c127;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e59b7 .cmsmasters_toggle_title:hover .cmsmasters_toggle_plus,
            .toggles_mode_toggle #cmsmasters_toggle_5aa7fb53e59b7 {
                background-color:#01a491;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e59b7 .cmsmasters_toggle_title a:hover {
                color:#01a491;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e5a59 .cmsmasters_toggle_title:hover .cmsmasters_toggle_plus,
            .toggles_mode_toggle #cmsmasters_toggle_5aa7fb53e5a59 {
                background-color:#f96c7e;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e5a59 .cmsmasters_toggle_title a:hover {
                color:#f96c7e;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e5afa .cmsmasters_toggle_title:hover .cmsmasters_toggle_plus,
            .toggles_mode_toggle #cmsmasters_toggle_5aa7fb53e5afa {
                background-color:#0187a4;
            }

            .toggles_mode_accordion #cmsmasters_toggle_5aa7fb53e5afa .cmsmasters_toggle_title a:hover {
                color:#0187a4;
            }

            #cmsmasters_heading_5aa7fb53e5c53 {
                text-align:left;
                margin-top:0px;
                margin-bottom:50px;
            }

            #cmsmasters_heading_5aa7fb53e5c53 .cmsmasters_heading {
                text-align:left;
            }

            #cmsmasters_heading_5aa7fb53e5c53 .cmsmasters_heading, #cmsmasters_heading_5aa7fb53e5c53 .cmsmasters_heading a {
                font-weight:300;
                font-style:normal;
            }

            #cmsmasters_heading_5aa7fb53e5c53 .cmsmasters_heading_divider {
            }
        </style>
        <div class="headline cmsmasters_color_scheme_first">
            <div class="headline_outer">
                <div class="headline_color"></div><div class="headline_inner align_center">
                    <div class="headline_aligner"></div><div class="headline_text">
                        <h1 class="entry-title">Offres disponible de covoiturage</h1>
                        <div class="cmsmasters_breadcrumbs"><div class="cmsmasters_breadcrumbs_aligner"></div>
                        </div></div></div>
            </div>
        </div>
        <div id="cmsmasters_row_5aa7fb4893673" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div id="cmsmasters_button_5aa7fae1c0ae0" class="button_wrap">
                                    <a href="{{ path('transport_index') }}" class="cmsmasters_button cmsmasters_but_clear_styles ">
                                        <span>Back to the list</span>
                                    </a>
                                </div>
                                <div class="cmsmasters_pricing_table pricing_four">
                                    {% for transport in transports %}
                                        <div id="cmsmasters_pricing_item_5aa7fb4893a55" class="cmsmasters_pricing_item pricing_best">
                                            <div class="cmsmasters_pricing_item_inner">
                                                <div class="cmsmasters_pricing_item_cont_wrap">
                                                    <div class="cmsmasters_pricing_item_cont_inner">
                                                        <h2 class="pricing_title">Place Disponible:</h2>
                                                        <div class="cmsmasters_price_wrap">
                                                            <span class="cmsmasters_price">{{ transport.place }}</span>
                                                            <br /><span class="cmsmasters_period">{% if transport.date %}{{ transport.date|date('Y-m-d') }}{% endif %}</span>
                                                        </div>
                                                    </div>
                                                    <ul class="feature_list">
                                                        <li><span>Depart:{{ transport.departName }}</span></li>
                                                        <li><span>Arrivé:{{ transport.arriveName }}</span></li>
                                                        <li><span>Telephone:{{ transport.telephone }}</span></li>
                                                        <li><span class="cmsmasters_price">{{ transport.frais }}</span>
                                                            <span class="cmsmasters_currency">TND</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cmsmasters_pricing_item_cont_wrap">
                                                    <a href="{{ path('transport_show', { 'idTransport': transport.idTransport }) }}" class="cmsmasters_button"><span>show</span></a>
                                                    <a href="{{ path('transport_edit', { 'idTransport': transport.idTransport }) }}" class="cmsmasters_button"><span>edit</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
