{% extends '@Transport/layout.html.twig' %}

{% block body %}
    <h1 style="text-align: center;padding-top: 20px">Transport creation</h1>

    {{ form_start(form)  }}
    <div id="cmsmasters_row_5aa7fae42d707" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
        <div class="cmsmasters_row_outer_parent">
            <div class="cmsmasters_row_outer">
                <div class="cmsmasters_row_inner">
                    <div class="cmsmasters_tabs tabs_mode_tab" style="text-align:left">
                        <li id="cmsmasters_tabs_list_item_5aa7fb56a945f" class="cmsmasters_tabs_list_item">
                            <a href="{{ path('transport_index') }}">Back to the list</a>
                        </li>
                    </div>
                    <div class="cmsmasters_row_margin">
                        <div class="cmsmasters_column one_half">
                            <div id="cmsmasters_heading_5aa7fae42d861" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">

                            </div><div class="cmsmasters_contact_form"><div class="cmsmasters-form-builder">

                                    <div id="form_2836">

                                        <div class="form_info cmsmasters_input one_first">
                                            <label for="cmsmasters_name_2">Nombre de place <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.place) }}
                                            </div>
                                        </div>
                                        <div class="form_info cmsmasters_input one_first">
                                            <label for="cmsmasters_email_2">Frais par personne <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.frais) }}
                                            </div>
                                        </div>
                                        <div class="form_info cmsmasters_input one_first">
                                            <label for="cmsmasters_phone_2">Telephone <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.telephone) }}
                                            </div>
                                        </div>
                                        <div class="form_info cmsmasters_select">
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.date) }}
                                            </div>
                                        </div>

                                        <div class="form_info cmsmasters_select">
                                            <label>Type de covoiturage</label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.type) }}
                                            </div>
                                            <div class="cl"></div>
                                        </div>
                                    </div>
                                </div></div>
                        </div>
                        <div class="cmsmasters_column one_half">

                            <div id="cmsmasters_heading_5aa7fae42e0e1" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">

                            </div><div class="cmsmasters_contact_form"><div class="cmsmasters-form-builder">

                                    <div  id="form_2831">

                                        <div class="form_info cmsmasters_input one_first">
                                            <label for="cmsmasters_name_6">Depart <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.departName) }}

                                            </div>
                                        </div>
                                        <div class="form_info cmsmasters_input one_first">
                                            <label for="cmsmasters_email">Arrivée <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.arriveName) }}
                                            </div>
                                        </div>
                                        <div class="form_info cmsmasters_textarea one_first">
                                            <label for="cmsmasters_your_message">Description <span class="color_2">*</span></label>
                                            <div class="form_field_wrap">
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                        <div style="visibility: hidden">
                                            {{ form_widget(form.depart) }}
                                            {{ form_widget(form.arrive) }}
                                        </div>
                                        <div class="form_info submit_wrap">
                                            <input type="submit" value="Create" />
                                        </div>
                                        <div class="cl"></div>
                                    </div>
                                </div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCq5FMCE1AZYb8dXtdqyNfuez-5Sv9z73M&callback=initMap"  async defer></script>
    <div id="map"></div>
    <script type="text/javascript">
        var map;
        var departName;
        var arriveName;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 36.862499, lng: 10.195556},
                zoom: 8
            });
            var departName = document.getElementById('transportbundle_transport_departName');
            document.getElementById('transportbundle_transport_departName').placeholder='';

            var autocomplete =  new google.maps.places.Autocomplete(departName);

            var arriveName = document.getElementById('transportbundle_transport_arriveName');
            document.getElementById('transportbundle_transport_arriveName').placeholder='';

            var autocompletearriv =  new google.maps.places.Autocomplete(arriveName);

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var data = $("#search_form").serialize();
                depart = autocomplete.getPlace().geometry.location;
                markerdep = new google.maps.Marker({
                    position: depart,
                    map: map
                });
                document.getElementById('transportbundle_transport_depart').value = depart;
            });

            google.maps.event.addListener(autocompletearriv, 'place_changed', function() {
                arrive = autocompletearriv.getPlace().geometry.location;
                markerdep = new google.maps.Marker({
                    position: arrive,
                    map: map
                });
                document.getElementById('transportbundle_transport_arrive').value = arrive;
            });
        }

    </script>
    {{ form_end(form) }}

{% endblock %}


