{% extends '@Transport/layout.html.twig' %}
{% block body %}
<div class="cmsmasters_tabs tabs_mode_tab" style="text-align: center">
    <div class="search_bar_wrap">
        <form method="POST">
            <p class="search_field">
                <input name="departname" placeholder="enter keywords" value="" type="text" />
            </p>
            <p class="search_button">
                <button type="submit" name="submit" value="recherche" class="cmsmasters_theme_icon_search"></button>
            </p>
        </form>

        <div class="cmsmasters_pricing_table pricing_four">
            {% for transport in transports %}
                <div {% if transport.place == "0" %} id="cmsmasters_pricing_item_5aa7fb4893cbd" {% else %} id="cmsmasters_pricing_item_5aa7fb4893b8a" {% endif %} class="cmsmasters_pricing_item pricing_best">
                    <div class="cmsmasters_pricing_item_inner">
                        <div class="cmsmasters_pricing_item_cont_wrap">

                            <div class="cmsmasters_pricing_item_cont_inner">
                                <h2 class="pricing_title">Place Disponible:</h2>
                                {% if transport.place == "0" %}
                                    <div class="cmsmasters_price_wrap">
                                        <span class="cmsmasters_price">Complet</span>
                                        <br /><span class="cmsmasters_period">{% if transport.date %}{{ transport.date|date('Y-m-d') }}{% endif %}</span>
                                    </div>
                                {% else %}
                                    <div class="cmsmasters_price_wrap">
                                        <span class="cmsmasters_price">{{ transport.place }}</span>
                                        <br /><span class="cmsmasters_period">{% if transport.date %}{{ transport.date|date('Y-m-d') }}{% endif %}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <ul class="feature_list">
                                <li><span>Depart:{{ transport.departName }}</span></li>
                                <li><span>Arrivé:{{ transport.arriveName }}</span></li>
                                <li><span>Telephone:{{ transport.telephone }}</span></li>
                                <li><span class="cmsmasters_price">{{ transport.frais }}</span>
                                    <span class="cmsmasters_currency">TND</span>
                                </li>
                            </ul>
                        </div>
                        <div class="cmsmasters_pricing_item_cont_wrap">
                            <a href="{{ path('transport_show', { 'idTransport': transport.idTransport }) }}" class="cmsmasters_button"><span>plus de détails</span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}