
<html lang="en-US" class="cmsmasters_html">
<!--<![endif]-->

<!-- Mirrored from kids.cmsmasters.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Mar 2018 16:21:32 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.html" />
    <title>Kids &#8211; Just another WordPress site</title>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Kids &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Kids &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel="alternate" type="text/calendar" title="Kids &raquo; iCal Feed" href="events/indexedf3.html?ical=1" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/kids.cmsmasters.net\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.4"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='layerslider-css'  href='{{ asset('bundles/transport/wp-content/plugins/LayerSlider/static/layerslider/css/layersliderbdeb.css?ver=6.7.0') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-user-css'  href='{{ asset('bundles/transport/wp-content/uploads/layerslider.custombdeb.css?ver=6.7.0') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='{{ asset('bundles/transport/wp-content/plugins/contact-form-7/includes/css/styles5597.css?ver=5.0') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'  href='{{ asset('bundles/transport/wp-content/plugins/revslider/public/assets/css/settings8b06.css?ver=5.4.7') }}' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {}
    </style>
    <link rel='stylesheet' id='timetable_font_lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700&amp;ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='theme-style-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/style8a54.css?ver=1.0.0') }}' type='text/css' media='screen, print' />
    <link rel='stylesheet' id='theme-adapt-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/adaptive8a54.css?ver=1.0.0') }}' type='text/css' media='screen, print' />
    <link rel='stylesheet' id='theme-retina-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/retina8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-icons-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/fontello8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-icons-custom-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/fontello-custom8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='animate-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/animate8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='isotope-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/jquery.isotope57bd.css?ver=1.5.26') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-woo-style-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-woo-style8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-woo-adaptive-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-woo-adaptive8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-events-style-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-events-style8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-events-adaptive-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-events-adaptive8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-timetable-style-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-timetable-style8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-cmsmasters-timetable-adaptive-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/cmsmasters-timetable-adaptive8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='ilightbox-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/ilightbox3601.css?ver=2.2.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='ilightbox-skin-dark-css'  href='{{ asset('bundles/transport/wp-content/themes/kids/css/ilightbox-skins/dark-skin3601.css?ver=2.2.0') }}' type='text/css' media='screen' />
    <link rel='stylesheet' id='theme-fonts-schemes-css'  href='{{ asset('bundles/transport/wp-content/uploads/cmsmasters_styles/kids8a54.css?ver=1.0.0') }}' type='text/css' media='screen' />
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-fonts-css'  href='http://kids.cmsmasters.net/wp-content/uploads/cmsmasters_styles/kids_fonts.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-schemes-primary-css'  href='http://kids.cmsmasters.net/wp-content/uploads/cmsmasters_styles/kids_colors_primary.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel='stylesheet' id='theme-schemes-secondary-css'  href='http://kids.cmsmasters.net/wp-content/uploads/cmsmasters_styles/kids_colors_secondary.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='theme-ie-css'  href='http://kids.cmsmasters.net/wp-content/themes/kids/css/ie.css?ver=1.0.0' type='text/css' media='screen' />
    <![endif]-->
    <link rel='stylesheet' id='cmsmasters-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2C700%2C700italic%7CLondrina+Solid&amp;ver=4.9.4' type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var LS_Meta = {"v":"6.7.0"};
        /* ]]> */
    </script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/LayerSlider/static/layerslider/js/greensockb3a6.js?ver=1.19.0') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/LayerSlider/static/layerslider/js/greensockb3a6.js?ver=1.19.0') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquerybdeb.js?ver=6.7.0') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitionsbdeb.js?ver=6.7.0') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min8b06.js?ver=5.4.7') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min8b06.js?ver=5.4.7') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jsLibraries.min8a54.js?ver=1.0.0') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.iLightBox.min3601.js?ver=2.2.0') }}'></script>
    <meta name="generator" content="Powered by LayerSlider 6.7.0 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress." />
    <!-- LayerSlider updates and docs at: https://layerslider.kreaturamedia.com -->
    <link rel='https://api.w.org/' href='{{ asset('bundles/transport/wp-json/index.html') }}' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{ asset('wp-includes/wlwmanifest.xml') }}" />
    <meta name="generator" content="WordPress 4.9.4" />
    <meta name="generator" content="WooCommerce 3.3.1" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="{{ asset('wp-json/oembed/1.0/embedd647.json?url=http%3A%2F%2Fkids.cmsmasters.net%2F') }}" />
    <link rel="alternate" type="text/xml+oembed" href="{{ asset('wp-json/oembed/1.0/embed4aa3?url=http%3A%2F%2Fkids.cmsmasters.net%2F&amp;format=xml') }}" />
    <meta name="tec-api-version" content="v1"><meta name="tec-api-origin" content="http://kids.cmsmasters.net"><link rel="https://theeventscalendar.com/" href="{{ asset('wp-json/tribe/events/v1/index.htmll') }}" /><style type="text/css">
        .header_top {
            height : 34px;
        }

        .header_mid {
            height : 100px;
        }

        .header_bot {
            height : 50px;
        }

        #page.cmsmasters_heading_after_header #middle,
        #page.cmsmasters_heading_under_header #middle .headline .headline_outer {
            padding-top : 100px;
        }

        #page.cmsmasters_heading_after_header.enable_header_top #middle,
        #page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer {
            padding-top : 134px;
        }

        #page.cmsmasters_heading_after_header.enable_header_bottom #middle,
        #page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer {
            padding-top : 150px;
        }

        #page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle,
        #page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
            padding-top : 184px;
        }

        @media only screen and (max-width: 1024px) {
            .header_top,
            .header_mid,
            .header_bot {
                height : auto;
            }

            .header_mid .header_mid_inner > div {
                height : 100px;
            }

            #page.cmsmasters_heading_after_header #middle,
            #page.cmsmasters_heading_under_header #middle .headline .headline_outer,
            #page.cmsmasters_heading_after_header.enable_header_top #middle,
            #page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer,
            #page.cmsmasters_heading_after_header.enable_header_bottom #middle,
            #page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer,
            #page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle,
            #page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
                padding-top : 0 !important;
            }
        }

        @media only screen and (max-width: 768px) {
            .header_mid .header_mid_inner > div,
            .header_bot .header_bot_inner > div {
                height:auto;
            }
        }
        #footer .footer_custom_html > div {
            text-align: center;
            padding-bottom: 10px;
        }
        #footer .footer_custom_html > div:before {
            font-size: 25px;
            display: inline-block;
            margin: 0 10px 4px 0;
            vertical-align: middle;
        }
        #footer .footer_custom_html > div:last-child {
            padding: 0;
        }
        #footer .footer_custom_html .cmsmasters-icon-mobile:before {
            font-size: 28px;
        }
        #footer .footer_custom_html .cmsmasters-icon-location:before {
            font-size: 23px;
        }
        .cmsmasters_contact_form.home_form .one_half {
            float:right;
        }
        .cmsmasters_contact_form.home_form textarea,
        .cmsmasters_contact_form.home_form input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]) {
            background:#ffffff;
        }
        .cmsmasters_contact_form.home_form textarea:focus,
        .cmsmasters_contact_form.home_form input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):focus {
            background:#f2f2f2;
            color:#454a4c;
        }
        .cmsmasters_contact_form.home_form .submit_wrap {
            text-align:center;
        }
        .cmsmasters_contact_form.home_form .submit_wrap .cmsmasters_button {
            font-size:20px;
        }
        .cmsmasters_contact_form.home_form .submit_wrap .cmsmasters_button {
            font-size:20px;
            background:#fb6b47;
            padding: 0px 65px;
        }
        .cmsmasters_contact_form.home_form .submit_wrap .cmsmasters_button:hover {
            background:#abcd52;
        }</style>
    <style type="text/css">
        #cmsmasters_row_5aa7fae1c0235 .cmsmasters_row_outer_parent {
            padding-top: 70px;
        }


        #cmsmasters_heading_5aa7fae1c03ba {
            text-align:left;
            margin-top:0px;
            margin-bottom:0px;
        }

        #cmsmasters_heading_5aa7fae1c03ba .cmsmasters_heading {
            text-align:left;
        }

        #cmsmasters_heading_5aa7fae1c03ba .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c03ba .cmsmasters_heading a {
            font-weight:300;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c03ba .cmsmasters_heading_divider {
        }


        #cmsmasters_row_5aa7fae1c041e .cmsmasters_row_outer_parent {
            padding-top: 60px;
        }

        #cmsmasters_row_5aa7fae1c041e .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }


        #cmsmasters_button_5aa7fae1c0512 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0512 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0512 .cmsmasters_button {
            font-weight:normal;
            font-style:normal;
            border-style:solid;
        }
        #cmsmasters_button_5aa7fae1c0512 .cmsmasters_button:hover {
        }

        #cmsmasters_button_5aa7fae1c05a1 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#9d64a5;
            color:#ffffff;
            border-color:#9d64a5;
        }
        #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button:hover {
            background-color:#ffffff;
            color:#9d64a5;
            border-color:#9d64a5;
        }
        #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#9d64a5;
        }
        #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c05a1 .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#ffffff;
        }

        #cmsmasters_button_5aa7fae1c0642 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button {
            line-height:48px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#007097;
            border-color:#007097;
        }
        #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button:hover {
            background-color:#007097;
            color:#ffffff;
            border-color:#007097;
        }
        #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c0642 .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#007097;
        }

        #cmsmasters_button_5aa7fae1c06cf {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c06cf .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c06cf .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#f96c7e;
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c06cf .cmsmasters_button:hover {
        }

        #cmsmasters_row_5aa7fae1c072d .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_5aa7fae1c072d .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }


        #cmsmasters_button_5aa7fae1c07bd {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#f96c7e;
            color:#ffffff;
            border-color:#f96c7e;
        }
        #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button:hover {
            background-color:#007097;
            color:#ffffff;
            border-color:#007097;
        }
        #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#f96c7e;
        }
        #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c07bd .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#007097;
        }

        #cmsmasters_button_5aa7fae1c084d {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c084d .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c084d .cmsmasters_button {
            line-height:48px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#f6c127;
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c084d .cmsmasters_button:hover {
            background-color:#f6c127;
            color:#ffffff;
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c084d .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#f6c127;
        }

        #cmsmasters_button_5aa7fae1c08da {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c08da .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c08da .cmsmasters_button {
            line-height:50px;
            font-weight:bolder;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#f6c127;
            color:#ffffff;
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c08da .cmsmasters_button:hover {
            background-color:#ffffff;
            color:#f6c127;
            border-color:#f6c127;
        }

        #cmsmasters_button_5aa7fae1c095e {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c095e .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c095e .cmsmasters_button {
            line-height:48px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#9d64a5;
            border-color:#9d64a5;
        }
        #cmsmasters_button_5aa7fae1c095e .cmsmasters_button:hover {
            background-color:#9d64a5;
            color:#ffffff;
            border-color:#9d64a5;
        }
        #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c095e .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#9d64a5;
        }

        #cmsmasters_row_5aa7fae1c09c6 .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_5aa7fae1c09c6 .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }


        #cmsmasters_button_5aa7fae1c0a51 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:0px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#01a491;
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button:hover {
            background-color:#007097;
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_left:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_right:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_top:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_vert:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_hor:hover, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_diag:hover {
            background-color:#01a491;
        }
        #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_left:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_right:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_top:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_slide_bottom:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_vert:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_hor:after, #cmsmasters_button_5aa7fae1c0a51 .cmsmasters_button.cmsmasters_but_bg_expand_diag:after {
            background-color:#007097;
        }

        #cmsmasters_button_5aa7fae1c0ae0 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#007097;
            color:#ffffff;
            border-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button:hover {
            background-color:#007097;
            color:#ffffff;
            border-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_dark_bg, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_light_bg, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_divider, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_inverse {
            padding-left:78px;
        }
        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_dark_bg:before, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_light_bg:before, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_divider:before, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_inverse:before, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_dark_bg:after, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_light_bg:after, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_divider:after, #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_inverse:after {
            width:50px;
        }
        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_divider:after {
            border-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0ae0 .cmsmasters_button.cmsmasters_but_icon_divider:hover:after {
            border-color:#ffffff;
        }

        #cmsmasters_button_5aa7fae1c0b6f {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0b6f .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0b6f .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:4px;
            border-style:double;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#01a491;
            border-color:#01a491;
        }
        #cmsmasters_button_5aa7fae1c0b6f .cmsmasters_button:hover {
            background-color:#01a491;
            color:#ffffff;
            border-color:#ffffff;
        }

        #cmsmasters_button_5aa7fae1c0bf3 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#f6c127;
            color:#ffffff;
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button:hover {
            background-color:#ffffff;
            color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_dark_bg, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_light_bg, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_divider, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse {
            padding-left:78px;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_dark_bg:before, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_light_bg:before, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_divider:before, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:before, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_dark_bg:after, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_light_bg:after, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_divider:after, #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:after {
            width:50px;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_divider:after {
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_divider:hover:after {
            border-color:;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:before {
            color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:after {
            background-color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:hover:before {
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0bf3 .cmsmasters_button.cmsmasters_but_icon_inverse:hover:after {
            background-color:#f6c127;
        }

        #cmsmasters_row_5aa7fae1c0c5e .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_5aa7fae1c0c5e .cmsmasters_row_outer_parent {
            padding-bottom: 70px;
        }


        #cmsmasters_button_5aa7fae1c0ce8 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0ce8 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0ce8 .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-style:outset;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#f6c127;
            color:#ffffff;
            border-color:#f6c127;
        }
        #cmsmasters_button_5aa7fae1c0ce8 .cmsmasters_button:hover {
            background-color:#01a491;
            color:#ffffff;
            border-color:#01a491;
        }

        #cmsmasters_button_5aa7fae1c0d6b {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0d6b .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0d6b .cmsmasters_button {
            line-height:48px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#f96c7e;
            border-color:#f96c7e;
        }
        #cmsmasters_button_5aa7fae1c0d6b .cmsmasters_button:hover {
            background-color:#f96c7e;
            color:#ffffff;
            border-color:#f96c7e;
        }

        #cmsmasters_button_5aa7fae1c0deb {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button {
            line-height:50px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            background-color:#9d64a5;
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button:hover {
            background-color:#9d64a5;
            color:#ffffff;
        }
        #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_dark_bg, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_light_bg, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_divider, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_inverse {
            padding-left:78px;
        }
        #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_dark_bg:before, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_light_bg:before, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_divider:before, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_inverse:before, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_dark_bg:after, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_light_bg:after, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_divider:after, #cmsmasters_button_5aa7fae1c0deb .cmsmasters_button.cmsmasters_but_icon_inverse:after {
            width:50px;
        }

        #cmsmasters_button_5aa7fae1c0e74 {
            text-align:center;
        }

        #cmsmasters_button_5aa7fae1c0e74 .cmsmasters_button:before {
            margin-right:.5em;
            margin-left:0;
            vertical-align:baseline;
        }

        #cmsmasters_button_5aa7fae1c0e74 .cmsmasters_button {
            line-height:48px;
            font-weight:normal;
            font-style:normal;
            padding-right:28px;
            padding-left:28px;
            border-width:2px;
            border-style:solid;
            -webkit-border-radius:10px;
            border-radius:10px;
            background-color:#ffffff;
            color:#01a491;
            border-color:#01a491;
        }
        #cmsmasters_button_5aa7fae1c0e74 .cmsmasters_button:hover {
            background-color:#ffffff;
            color:#f6c127;
            border-color:#f6c127;
        }

        #cmsmasters_row_5aa7fae1c0ec9 .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }


        #cmsmasters_divider_5aa7fae1c0fa2 {
            border-bottom-width:1px;
            border-bottom-style:solid;
            padding-top:0px;
            margin-bottom:0px;
        }

        #cmsmasters_row_5aa7fae1c0ff1 .cmsmasters_row_outer_parent {
            padding-top: 70px;
        }

        #cmsmasters_row_5aa7fae1c0ff1 .cmsmasters_row_outer_parent {
            padding-bottom: 40px;
        }


        #cmsmasters_heading_5aa7fae1c10e5 {
            text-align:left;
            margin-top:0px;
            margin-bottom:0px;
        }

        #cmsmasters_heading_5aa7fae1c10e5 .cmsmasters_heading {
            text-align:left;
        }

        #cmsmasters_heading_5aa7fae1c10e5 .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c10e5 .cmsmasters_heading a {
            font-weight:300;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c10e5 .cmsmasters_heading_divider {
        }


        #cmsmasters_row_5aa7fae1c1143 .cmsmasters_row_outer_parent {
            padding-top: 30px;
        }

        #cmsmasters_row_5aa7fae1c1143 .cmsmasters_row_outer_parent {
            padding-bottom: 70px;
        }


        #cmsmasters_heading_5aa7fae1c12be {
            text-align:center;
            margin-top:0px;
            margin-bottom:30px;
        }

        #cmsmasters_heading_5aa7fae1c12be .cmsmasters_heading {
            text-align:center;
        }

        #cmsmasters_heading_5aa7fae1c12be .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c12be .cmsmasters_heading a {
            font-weight:500;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c12be .cmsmasters_heading_divider {
        }


        #cmsmasters_icon_5aa7fae1c131c {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c131c .cmsmasters_simple_icon {
            border-width:0px;
            width:50px;
            height:50px;
            font-size:25px;
            line-height:50px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#ffffff;
            background-color:#f96c7e;}

        #cmsmasters_divider_5aa7fae1c1365 {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c13ab {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c13ab .cmsmasters_simple_icon {
            border-width:0px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:60px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#01a491;}

        #cmsmasters_divider_5aa7fae1c13ef {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1433 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1433 .cmsmasters_simple_icon {
            border-width:0px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:60px;
            text-align:center;
            -webkit-border-radius:0;
            border-radius:0;
            color:#007097;
            background-color:#edf6f8;
            border-color:#ffffff;}

        #cmsmasters_heading_5aa7fae1c1541 {
            text-align:center;
            margin-top:0px;
            margin-bottom:30px;
        }

        #cmsmasters_heading_5aa7fae1c1541 .cmsmasters_heading {
            text-align:center;
        }

        #cmsmasters_heading_5aa7fae1c1541 .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c1541 .cmsmasters_heading a {
            font-weight:500;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c1541 .cmsmasters_heading_divider {
        }


        #cmsmasters_icon_5aa7fae1c1597 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1597 .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#9d64a5;
            border-color:#9d64a5;}

        #cmsmasters_divider_5aa7fae1c15de {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1623 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1623 .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:5px;
            border-radius:5px;
            color:#007097;
            background-color:#ffffff;
            border-color:#edf6f8;}

        #cmsmasters_divider_5aa7fae1c1666 {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c16ab {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c16ab .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#f6c127;
            background-color:#ffffff;
            border-color:#edf6f8;}

        #cmsmasters_heading_5aa7fae1c17b7 {
            text-align:center;
            margin-top:0px;
            margin-bottom:30px;
        }

        #cmsmasters_heading_5aa7fae1c17b7 .cmsmasters_heading {
            text-align:center;
        }

        #cmsmasters_heading_5aa7fae1c17b7 .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c17b7 .cmsmasters_heading a {
            font-weight:500;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c17b7 .cmsmasters_heading_divider {
        }


        #cmsmasters_icon_5aa7fae1c180a {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c180a .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#f6c127;
            border-color:#f6c127;}

        #cmsmasters_divider_5aa7fae1c1851 {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1898 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1898 .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#86abb9;
            background-color:#edf6f8;
            border-color:#edf6f8;}

        #cmsmasters_divider_5aa7fae1c18db {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1920 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1920 .cmsmasters_simple_icon {
            border-width:0px;
            width:70px;
            height:70px;
            font-size:40px;
            line-height:70px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#f96c7e;}

        #cmsmasters_heading_5aa7fae1c1a2c {
            text-align:center;
            margin-top:0px;
            margin-bottom:30px;
        }

        #cmsmasters_heading_5aa7fae1c1a2c .cmsmasters_heading {
            text-align:center;
        }

        #cmsmasters_heading_5aa7fae1c1a2c .cmsmasters_heading, #cmsmasters_heading_5aa7fae1c1a2c .cmsmasters_heading a {
            font-weight:500;
            font-style:normal;
        }

        #cmsmasters_heading_5aa7fae1c1a2c .cmsmasters_heading_divider {
        }


        #cmsmasters_icon_5aa7fae1c1a7e {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1a7e .cmsmasters_simple_icon {
            border-width:0px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:60px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#01a491;
            background-color:#edf6f8;
            border-color:#01a491;}

        #cmsmasters_divider_5aa7fae1c1ac5 {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1b0b {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1b0b .cmsmasters_simple_icon {
            border-width:2px;
            width:60px;
            height:60px;
            font-size:30px;
            line-height:56px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#f96c7e;
            background-color:#fcfcfc;
            border-color:#f96c7e;}

        #cmsmasters_divider_5aa7fae1c1b4e {
            border-bottom-width:0px;
            border-bottom-style:solid;
            padding-top:50px;
            margin-bottom:0px;
        }

        #cmsmasters_icon_5aa7fae1c1b92 {
            display:block;
            text-align:center; }

        #cmsmasters_icon_5aa7fae1c1b92 .cmsmasters_simple_icon {
            border-width:0px;
            width:70px;
            height:70px;
            font-size:30px;
            line-height:70px;
            text-align:center;
            -webkit-border-radius:50%;
            border-radius:50%;
            color:#9d64a5;
            background-color:#ffffff;}
    </style>
    <style type="text/css">.headline_outer {
            background-image:url({{ asset('bundles/transport/wp-content/uploads/2015/12/header.jpg') }});
            background-repeat:no-repeat;
            background-attachment:scroll;
            background-size:cover;
        }.headline_color {
             background-color:;
         }
        .headline_aligner,
        .cmsmasters_breadcrumbs_aligner {
            min-height:250px;
        }
    </style>
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
    <meta name="generator" content="Powered by Slider Revolution 5.4.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <link rel="icon" href="{{ asset('bundles/transport/wp-content/uploads/2016/07/favicon.png') }}" sizes="32x32" />
    <link rel="icon" href="{{ asset('bundles/transport/wp-content/uploads/2016/07/favicon.png') }}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/transport/wp-content/uploads/2016/07/favicon.png') }}" />
    <meta name="msapplication-TileImage" content="http://kids.cmsmasters.net/wp-content/uploads/2016/07/favicon.png" />
    <script type="text/javascript">function setREVStartSize(e){
            document.addEventListener("DOMContentLoaded", function() {
                try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
                    if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
                }catch(d){console.log("Failure at Presize of Slider:"+d)}
            });
        };</script>
</head>
<body class="home page-template-default page page-id-7912 tribe-no-js">

<!-- _________________________ Start Page _________________________ -->
<div id="page" class="csstransition cmsmasters_liquid fixed_header enable_header_top cmsmasters_heading_after_header hfeed site">

    <!-- _________________________ Start Main _________________________ -->
    <div id="main">
        <div class="cmsmasters_dynamic_cart_wrap"><div class="cmsmasters_dynamic_cart"><a href="javascript:void(0);" class="cmsmasters_dynamic_cart_button cmsmasters_theme_icon_basket"></a><div class="widget_shopping_cart_content"></div></div></div><!-- _________________________ Start Header _________________________ -->
        <header id="header">
            <div class="header_top" data-height="34"><div class="header_top_outer"><div class="header_top_inner"><div class="header_top_right">
                            <div class="social_wrap">
                                <div class="social_wrap_inner">
                                    <ul>
                                        <li>
                                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-twitter" title="Twitter" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-linkedin" title="Linkedin" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-custom-instagram-filled" title="Instagram" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-facebook-1" title="Facebook" target="_blank"></a>
                                        </li>
                                        <li>
                                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-youtube-play" title="YouTube" target="_blank"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div></div><div class="header_top_left"><div class="meta_wrap"><div class="cmsmasters-icon-location">San Francisco, CA 94102, US 1234, Some Str</div><div class="phone cmsmasters-icon-mobile">+1 000 123 1234; +1 000 567 5678</div></div></div></div></div><div class="header_top_but closed"><span class="cmsmasters_theme_icon_slide_bottom"></span></div></div><div class="header_mid" data-height="100"><div class="header_mid_outer"><div class="header_mid_inner"><div class="logo_wrap">
                            <style type="text/css">
                                .header_mid .header_mid_inner .logo_wrap {
                                    width : 192px;
                                }
                            </style>
                            <a href="index.html" title="Kids" class="logo">
                                <img src="{{ asset('bundles/transport/wp-content/themes/kids/img/logo.png') }}" alt="Kids" />

                                <style type="text/css">
                                    .header_mid_inner .logo .logo_retina {
                                        width : 192px;
                                        max-width : 192px;
                                    }
                                </style>
                                <img class="logo_retina" src="{{ asset('bundles/transport/wp-content/themes/kids/img/logo_retina.png') }}" alt="Kids" width="192" height="80" />
                            </a>
                        </div><div class="cmsmasters_dynamic_cart_wrap"><div class="cmsmasters_dynamic_cart_link"><a href="cart/index.html" class="cmsmasters_dynamic_cart_button cmsmasters_theme_icon_basket"></a></div></div><div class="resp_mid_nav_wrap"><div class="resp_mid_nav_outer"><a class="responsive_nav resp_mid_nav cmsmasters_theme_icon_resp_nav" href="javascript:void(0);"></a></div></div><div class="search_wrap"><div class="search_wrap_inner">
                                <div class="search_bar_wrap">
                                    <form role="search" method="get" action="http://kids.cmsmasters.net/">
                                        <p class="search_field">
                                            <input name="s" placeholder="enter keywords" value="" type="search" />
                                        </p>
                                        <p class="search_button">
                                            <button type="submit" class="cmsmasters_theme_icon_search"></button>
                                        </p>
                                    </form>
                                </div>

                            </div></div><!-- _________________________ Start Navigation _________________________ --><div class="mid_nav_wrap"><nav role="navigation"><div class="menu-main-container"><ul id="navigation" class="mid_nav navigation"><li id="menu-item-8022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7912 current_page_item menu-item-8022 menu-item-depth-0"><a href="index.html"><span class="nav_item_wrap"><span class="nav_title">Home</span></span></a></li>
                                        <li id="menu-item-6652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6652 menu-item-depth-0"><style type="text/css"> .navigation .menu-item-6652 > a {color:#ff911b;} ul.navigation > .menu-item-6652.menu-item.current-menu-ancestor > a,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-6652.menu-item.current-menu-item > a,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-6652.menu-item.current-menu-ancestor > a:after,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-6652.menu-item.current-menu-item > a:after {background-color:#ff911b;} </style><a href="timetable-2/index.html"><span class="nav_item_wrap"><span class="nav_title">Timetable</span></span></a></li>
                                        <li id="menu-item-6259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6259 menu-item-depth-0"><style type="text/css"> .navigation .menu-item-6259 > a {color:#ffc000;} ul.navigation > .menu-item-6259.menu-item.current-menu-ancestor > a,
                                                                                                                                                                                                                                                                 ul.navigation > .menu-item-6259.menu-item.current-menu-item > a,
                                                                                                                                                                                                                                                                 ul.navigation > .menu-item-6259.menu-item.current-menu-ancestor > a:after,
                                                                                                                                                                                                                                                                 ul.navigation > .menu-item-6259.menu-item.current-menu-item > a:after {background-color:#ffc000;} </style><a><span class="nav_item_wrap"><span class="nav_title">Features</span></span></a>

                                        </li>
                                        <li id="menu-item-6666" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6666 menu-item-mega menu-item-mega-cols-four menu-item-depth-0"><style type="text/css"> .navigation .menu-item-6666 > a {color:#a7c850;} ul.navigation > .menu-item-6666.menu-item.current-menu-ancestor > a,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6666.menu-item.current-menu-item > a,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6666.menu-item.current-menu-ancestor > a:after,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6666.menu-item.current-menu-item > a:after {background-color:#a7c850;} </style><a href="#"><span class="nav_item_wrap"><span class="nav_title">Shortcodes</span></span></a>

                                        </li>
                                        <li id="menu-item-6258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6258 menu-item-mega menu-item-mega-cols-five menu-item-depth-0"><style type="text/css"> .navigation .menu-item-6258 > a {color:#5bc4db;} ul.navigation > .menu-item-6258.menu-item.current-menu-ancestor > a,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6258.menu-item.current-menu-item > a,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6258.menu-item.current-menu-ancestor > a:after,
                                                                                                                                                                                                                                                                                                         ul.navigation > .menu-item-6258.menu-item.current-menu-item > a:after {background-color:#5bc4db;} </style><a href="#"><span class="nav_item_wrap"><span class="nav_title">Post Types</span></span></a>

                                        </li>
                                        <li id="menu-item-7115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7115 menu-item-depth-0"><style type="text/css"> .navigation .menu-item-7115 > a {color:#7a8ed9;} ul.navigation > .menu-item-7115.menu-item.current-menu-ancestor > a,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-7115.menu-item.current-menu-item > a,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-7115.menu-item.current-menu-ancestor > a:after,
                                                                                                                                                                                                                                           ul.navigation > .menu-item-7115.menu-item.current-menu-item > a:after {background-color:#7a8ed9;} </style><a href="shop/index.html"><span class="nav_item_wrap"><span class="nav_title">Shop</span></span></a></li>
                                    </ul></div></nav></div><!-- _________________________ Finish Navigation _________________________ --></div></div></div></header>
        <!-- _________________________ Finish Header _________________________ -->

        <div id="middle" >
                {% block body %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                {% endblock %}
        </div>
        <a href="javascript:void(0);" id="slide_top" class="cmsmasters_theme_icon_slide_top"></a>
    </div>
    <!-- _________________________ Finish Main _________________________ -->

    <!-- _________________________ Start Footer _________________________ -->
    <footer id="footer" role="contentinfo" class="cmsmasters_color_scheme_footer cmsmasters_footer_default">
        <div class="footer_inner">
            <div class="footer_logo_wrap"><a href="index.html" title="Kids" class="footer_logo">
                    <img src="{{ asset('bundles/transport/wp-content/themes/kids/img/logo_footer.png') }}" alt="Kids" />
                    <img class="footer_logo_retina" src="{{ asset('bundles/transport/wp-content/themes/kids/img/logo_footer_retina.png') }}" alt="Kids" width="352" height="63" />
                </a>

                <style type="text/css">
                    .footer_inner .footer_logo .footer_logo_retina {
                        width : 352px;
                    }
                </style>
            </div><div class="footer_custom_html_wrap"><div class="footer_custom_html"><div class="cmsmasters-icon-location">San Francisco, CA 94102, US 1234, Some Str</div><div class="cmsmasters-icon-clock">Monday - Friday: 7:30 am - 17:00 pm, Saturday: 8:00 am - 15:00 pm</div><div class="phone cmsmasters-icon-mobile">+1 000 123 1234; +1 000 567 5678</div></div></div>
            <div class="social_wrap">
                <div class="social_wrap_inner">
                    <ul>
                        <li>
                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_1 cmsmasters-icon-twitter" title="Twitter" target="_blank"></a>
                        </li>
                        <li>
                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_2 cmsmasters-icon-linkedin" title="Linkedin" target="_blank"></a>
                        </li>
                        <li>
                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_3 cmsmasters-icon-custom-instagram-filled" title="Instagram" target="_blank"></a>
                        </li>
                        <li>
                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_4 cmsmasters-icon-facebook-1" title="Facebook" target="_blank"></a>
                        </li>
                        <li>
                            <a href="#" class="cmsmasters_social_icon cmsmasters_social_icon_5 cmsmasters-icon-youtube-play" title="YouTube" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>	</div>
        <div class="footer_bottom"><div class="footer_bottom_inner"><div class="footer_nav_wrap"><nav><div class="menu-footer-menu-container"><ul id="footer_nav" class="footer_nav"><li id="menu-item-7510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7510"><a href="home-old/index.html">Home</a></li>
                                <li id="menu-item-7511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7511"><a href="courses-page/index.html">Classes</a></li>
                                <li id="menu-item-7512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7512"><a href="about-us/index.html">About Us</a></li>
                                <li id="menu-item-7513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7513"><a href="teachers/index.html">Teachers</a></li>
                                <li id="menu-item-7514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7514"><a href="contacts/index.html">Contacts</a></li>
                            </ul></div></nav></div><span class="footer_copyright copyright">Kids  2016 / All Rights Reserved</span></div></div></footer>
    <!-- _________________________ Finish Footer _________________________ -->

</div>
<span class="cmsmasters_responsive_width"></span>
<!-- _________________________ Finish Page _________________________ -->

<script>
    ( function ( body ) {
        'use strict';
        body.className = body.className.replace( /\btribe-no-js\b/, 'tribe-js' );
    } )( document.body );
</script>
<script type='text/javascript'> /* <![CDATA[ */var tribe_l10n_datatables = {"aria":{"sort_ascending":": activate to sort column ascending","sort_descending":": activate to sort column descending"},"length_menu":"Show _MENU_ entries","empty_table":"No data available in table","info":"Showing _START_ to _END_ of _TOTAL_ entries","info_empty":"Showing 0 to 0 of 0 entries","info_filtered":"(filtered from _MAX_ total entries)","zero_records":"No matching records found","search":"Search:","all_selected_text":"All items on this page were selected. ","select_all_link":"Select all pages","clear_selection":"Clear Selection.","pagination":{"all":"All","next":"Next","previous":"Previous"},"select":{"rows":{"0":"","_":": Selected %d rows","1":": Selected 1 row"}},"datepicker":{"dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["January","February","March","April","May","June","July","August","September","October","November","December"],"nextText":"Next","prevText":"Prev","currentText":"Today","closeText":"Done"}};/* ]]> */ </script><link rel='stylesheet' id='cmsmasters_contact_form_style-css'  href='{{ asset('bundles/transport/wp-content/plugins/cmsmasters-contact-form-builder/css/contact-form-styled36b.css?ver=1.3.9') }}' type='text/css' media='screen' />
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/cmsmasters-mega-menu/js/jquery.megaMenu578f.js?ver=1.2.6') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"http:\/\/kids.cmsmasters.net\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/contact-form-7/includes/js/scripts5597.js?ver=5.0') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/timetable/js/jquery.ba-bbq.mincbf4.js?ver=4.9.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/timetable/js/jquery.carouFredSel-6.2.1-packedcbf4.js?ver=4.9.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/timetable/js/timetablecbf4.js?ver=4.9.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/kids.cmsmasters.net\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/kids.cmsmasters.net\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min3d36.js?ver=3.3.1') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/kids.cmsmasters.net\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min3d36.js?ver=3.3.1') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/kids.cmsmasters.net\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_bc51bac5a8d3a377a687628f23752ec9","fragment_name":"wc_fragments_bc51bac5a8d3a377a687628f23752ec9"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min3d36.js?ver=3.3.1') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var cmsmasters_jlibs = {"button_height":"-27"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jqueryLibraries.min8a54.js?ver=1.0.0') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/scrollspy8a54.js?ver=1.0.0') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var cmsmasters_script = {"theme_url":"http:\/\/kids.cmsmasters.net\/wp-content\/themes\/kids","site_url":"http:\/\/kids.cmsmasters.net\/","ajaxurl":"http:\/\/kids.cmsmasters.net\/wp-admin\/admin-ajax.php","nonce_ajax_like":"963164689a","primary_color":"#efefef","ilightbox_skin":"dark","ilightbox_path":"vertical","ilightbox_infinite":"0","ilightbox_aspect_ratio":"1","ilightbox_mobile_optimizer":"1","ilightbox_max_scale":"1","ilightbox_min_scale":"0.2","ilightbox_inner_toolbar":"0","ilightbox_smart_recognition":"0","ilightbox_fullscreen_one_slide":"0","ilightbox_fullscreen_viewport":"center","ilightbox_controls_toolbar":"1","ilightbox_controls_arrows":"0","ilightbox_controls_fullscreen":"1","ilightbox_controls_thumbnail":"1","ilightbox_controls_keyboard":"1","ilightbox_controls_mousewheel":"1","ilightbox_controls_swipe":"1","ilightbox_controls_slideshow":"0","ilightbox_close_text":"Close","ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)","ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)","ilightbox_slideshow_text":"Slideshow","ilightbox_next_text":"Next","ilightbox_previous_text":"Previous","ilightbox_load_image_error":"An error occurred when trying to load photo.","ilightbox_load_contents_error":"An error occurred when trying to load contents.","ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.script8a54.js?ver=1.0.0') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.tweet.mine7f0.js?ver=1.3.1') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.isotope.min5d6b.js?ver=1.5.19') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var cmsmasters_isotope_mode = {"ilightbox_skin":"dark","ilightbox_path":"vertical","ilightbox_infinite":"0","ilightbox_aspect_ratio":"1","ilightbox_mobile_optimizer":"1","ilightbox_max_scale":"1","ilightbox_min_scale":"0.2","ilightbox_inner_toolbar":"0","ilightbox_smart_recognition":"0","ilightbox_fullscreen_one_slide":"0","ilightbox_fullscreen_viewport":"center","ilightbox_controls_toolbar":"1","ilightbox_controls_arrows":"0","ilightbox_controls_fullscreen":"1","ilightbox_controls_thumbnail":"1","ilightbox_controls_keyboard":"1","ilightbox_controls_mousewheel":"1","ilightbox_controls_swipe":"1","ilightbox_controls_slideshow":"0","ilightbox_close_text":"Close","ilightbox_enter_fullscreen_text":"Enter Fullscreen (Shift+Enter)","ilightbox_exit_fullscreen_text":"Exit Fullscreen (Shift+Enter)","ilightbox_slideshow_text":"Slideshow","ilightbox_next_text":"Next","ilightbox_previous_text":"Previous","ilightbox_load_image_error":"An error occurred when trying to load photo.","ilightbox_load_contents_error":"An error occurred when trying to load contents.","ilightbox_missing_plugin_error":"The content your are attempting to view requires the <a href='{pluginspage}' target='_blank'>{type} plugin<\\\/a>."};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.isotope.mode8a54.js?ver=1.0.0') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var cmsmasters_woo_script = {"currency_symbol":"\u00a3","thumbnail_image_width":"70","thumbnail_image_height":"70"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/themes/kids/js/jquery.cmsmasters-woo-script8a54.js?ver=1.0.0') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/comment-reply.mincbf4.js?ver=4.9.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-includes/js/wp-embed.mincbf4.js?ver=4.9.4') }}'></script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/cmsmasters-contact-form-builder/js/jquery.validationEngine.min61da.js?ver=2.6.2') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var cmsmasters_ve_lang = {"required":"* This field is required","select_option":"* Please select an option","required_checkbox":"* This checkbox is required","min":"* Minimum","allowed":" characters allowed","max":"* Maximum","invalid_email":"* Invalid email address","invalid_number":"* Invalid number","invalid_url":"* Invalid URL","numbers_spaces":"* Numbers and spaces only","letters_spaces":"* Letters and spaces only"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('bundles/transport/wp-content/plugins/cmsmasters-contact-form-builder/js/jquery.validationEngine-langd36b.js?ver=1.3.9') }}'></script>
<script type='text/javascript' src='../www.google.com/recaptcha/apida9b.js?onload=validateCaptcha&amp;ver=2.0.0'></script>
</body>

<!-- Mirrored from kids.cmsmasters.net/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Mar 2018 16:28:36 GMT -->
</html>
